pip~=21.0.1
cryptography~=3.4.7
lxml~=4.6.3
PyYAML~=5.4.1
junos-eznc~=2.5.4
ncclient~=0.6.10
scp~=0.13.3
paramiko~=2.7.2
yamlordereddictloader~=0.4.0
Jinja2~=2.11.3
pyparsing~=2.4.7
transitions~=0.8.7
six~=1.15.0
pyserial~=3.5
MarkupSafe~=1.1.1
netaddr~=0.8.0
bcrypt~=3.2.0
pycparser~=2.20
packaging~=20.9
setuptools~=54.2.0
